.cartao-pokemon {
    
    background-color:chocolate;
    display: none;
    box-shadow: rgba(92, 92, 92, 0.521)0px 7px 29px 0px;
    border-radius: 10px;
}

.cartao-pokemon .cartao-topo{
    padding: 30px 40px 0;
}

.cartao-pokemon .cartao-informacoes{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

/* .cartao-pokemon .planta{
    font-size: 12px;
    background-color: #26e770;
}

.cartao-pokemon .veneno{
    font-size: 12px;
    background-color: #cf36d4;
} */

.cartao-pokemon .tipo{
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 0;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}
.cartao-pokemon .detalhes {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-pokemon img{
    max-height: 100%;
}

.cartao-pokemon .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-pokemon .cartao-informacoes .status,
.cartao-pokemon .cartao-informacoes .habilidades{
    padding:  0 10px;
    width: 180px;
}

.cartao-pokemon .cartao-informacoes .status,
.cartao-pokemon .cartao-informacoes .habilidades ul li{
border-bottom: 1px solid #C3C4C5;
padding: 0 0 5px;
margin-bottom: 5px;
font-size: 15px;
}

.cartao-pokemon.aberto {
    display: block;
}

.tipo-fogo {
    background-color: #ED8A8B;
}

.tipo-planta{
    background-color: #329640;
}

.tipo-agua{
    background-color: rgb(63, 65, 187);
}

.tipo-inseto{
    background-color: #50ce61;
}