.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #ffffff81;
    color: #00000088;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 40px;
    box-shadow: rgba(31, 31, 31, 0.164)0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.15);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background-color: #FA6668;
}

/* .listagem .lista{

    overflow-y: scroll;
    overflow-x: visible;
    max-height: 300px;
    max-width: 200px;
    
    
}

.listagem::-webkit-scrollbar{
    
    width: 5px;
    height: 8px;
     background-color: #aaa;
} */

.listagem {
    position: relative;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 600px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .listagem::-webkit-scrollbar {
    display: none;
  }